* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
   text-decoration-line: none;
}

.img {
    max-width: 100%;
}

.duck {
    width: 50px;
}

header {
    background-color: #212529;
    padding: 10px;
}

.data {
    display: none;
}


/* New Book */
////////////////////////////////////////

.input-autore{
    width: 60%;
}

.prova{
    width: 100%;
}



@media (min-width: 768px) {
    .data {
        display: table-cell;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container-lg {
        max-width: 996px;
    }
}